<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body class="container">
    <div class="col-md-6 col-md-offset-3">
      <h1>Welcome to the Home page \n\n 1- http://localhost:8080/ : Home Page   \n 2- http://localhost:8080/hello/[Your Name] : Hello + Your name will be display with a Button which display data \n 3- http://localhost:8080/metrics.json : Some data will be display </h1>

      <div id="metrics"></div>
    </div>
    
  </body>
</html>
